title: Beispiel_Entfaltung

mode: test

pseudo_data_fraction: 0.9

number_all_variables: 3

source_file_moca: ./Blatt7_TRUEE.root
roottree_moca: Signal_MC_Akzeptanz

## Zehner log
branch_x: Energie log
limits_x: 0 1.5

#fx_positive: 1

branch_y: AnzahlHits log
number_y_bins: 5

branch_y: x
number_y_bins: 9

branch_y: y
number_y_bins: 9

number_deg_free: 5
max_number_deg_free:  5

number_knots: 5
max_number_knots:  5

number_bins: 9
max_number_bins: 9

# erst ab Aufgabe f) einkommentieren
#mc_func: 42390*pow(10,x)^(-2.7)
